<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".View.QuizView"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.BaseActivity"></activity>
        <activity android:name=".Controller.ChangeProfile" />
        <activity android:name=".Controller.AboutPage" />
        <activity android:name=".Controller.Password" />
        <activity android:name=".ResultsActivity" />
        <activity android:name=".Controller.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.ViewDelete" />
        <activity android:name=".Controller.Quiz" />
        <activity android:name=".Controller.Home" />
        <activity android:name=".View.AdminMenu" />
        <activity android:name=".Controller.Register" />
        <activity android:name=".View.NewQuestionActivity" />
        <activity android:name=".Controller.Login" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>